/* familias de fuentes
    titulos y encabezados h1, h2, h3
    font-family: 'Josefin Sans', sans-serif;
    texto parrafos p, h4, h5, h6
    font-family: 'Roboto', sans-serif;
*/

/* Inicio resets*/
*{
    margin: 0px;
    padding: 0px;
}
ol, ul{
    list-style: none;
    padding-left: 0px;;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    width: 100%;
}
iframe{
    width: 100%;
}
hr{
    margin: 0px;
}


/* Fin resets*/

/* Estilos generales etiquetas */

header{
    background-color: rgb(170, 188, 202);
    /*background-image: linear-gradient(to left,rgb(170, 188, 202),rgb(173, 179, 153));*/
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
header img{
    width: 80px;
}
header h1{
    z-index: 1;
}
footer img{
    width: auto;
}
main{
    position: relative;
    top: 98px;
    display: grid;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(175, 107, 107);
}
h2{
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(175, 107, 107);
    font-size: 30px;
    font-weight: 300;
    border-bottom: 1px solid white;
}
h3{
    font-family: 'Josefin Sans', sans-serif;
    color:grey;
    letter-spacing: 2px;
    padding: 20px 0px 15px 0px;
}
h4{
    font-family: 'Josefin Sans', sans-serif;
    color: grey;
    letter-spacing: 2px;
    padding: 20px 0px 15px 0px;
}
p{
    font-family: 'Roboto', sans-serif;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    font-family: 'Roboto', sans-serif;
    color:indianred;
    /*display: inline-block;*/
    /*padding: 5px 10px;*/
}
table{
    font-family: 'Roboto', sans-serif;
    border: 1px solid;
}
th{
    border: 1px solid;
    background-color: rgb(224, 221, 221);
}
td{
    border: 1px solid;
}
form{
    font-family: 'Roboto', sans-serif;
}
header nav{
    /*background-color: rgb(145, 168, 185);*/
    display: inline-block;
    position: absolute;
    top: 0px;
    /*right: 20px;*/
}
footer{
    height: 100px;
    background-color: rgb(170, 188, 202);
    text-align: center;
    position: relative;
    bottom: -98px;
}
footer nav{
    /*background-color: rgb(145, 168, 185);*/
    display: inline-block;
    position: relative;
    top: 10px;
    border-top: 2px solid rgb(146, 161, 172);
    /*padding-top: 5px;*/
}
section{
    padding: 30px;
    display: flex;
    /*justify-content: space-evenly;*/
}
footer img{
    justify-content: center;
}
.seccFoto article p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.seccFoto article h4{
    background-color: rgb(47, 47, 47);
    margin: -4px 32% 10px 0px;
    padding: 5px 5px;
}
.seccDibujo article h4{
    background-color: rgb(75, 24, 24);
    margin: -4px 32% 10px 0px;
    padding: 5px 5px;
}
article{
    height: auto;
}
/* Fin estilos generales etiquetas */

/* Estilos enlaces y hoover */

li a{
    color:rgb(243, 239, 239);
    text-decoration: none;
}
li a:hover{
    color:rgb(175, 107, 107);
}

.seccFoto img:hover{
    transform: scale(1,1.02);
    transition: all 75ms;
}
.seccDibujo img:hover{
    transform: scale(1,1.02);
    transition: all 75ms;
}

/* Fin estilos enlaces y hoover */

/*Estilos de clases */

.tituloPagina{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.5px;
    display: inline-block;
    margin: 0px 0px 0px 20px;
    text-align: center;
   /* position: absolute;*/
    left: 10%;
    top: 40px;
}
.tituloFormacion{
    color:rgb(139, 134, 82);
}
.tituloDescripcion{
    color:goldenrod;
    border-bottom: 0px solid white;
}
.seccFoto{
    background-color: rgb(230, 232, 253);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 4% 48% 48%;
    grid-template-areas: "header   header   header"
                         "content1 content2 content3"
                         "content4 content5 content6";
    column-gap: 30PX; 
}
.seccFoto h2{
    grid-area: header;
}

.seccDibujo{
    background-color: rgb(253, 243, 230);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 4% 48% 48%;
    grid-template-areas: "header   header   header"
                         "content1 content2 content3"
                         "content4 content5 content6";
    column-gap: 30PX;    
}
.seccDibujo h2{
    grid-area: header;
}
.seccForm{
    background-color: rgb(253, 230, 238);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 7% 93%;
    grid-template-areas: "header   header   header"
                         "content1 content2 content3";
    column-gap: 30PX;    
}
.seccForm h2{
    grid-area: header;
}
.seccFormForm{
    background-color: rgb(253, 230, 238);
display: grid;
grid-template-columns: 20% 30%;
grid-template-rows: 50% 50%;
grid-template-areas: "header content"
                     "header content";
column-gap: 30PX;   
}
.seccFotoForm{
    background-color: rgb(253, 230, 238);
display: grid;
grid-template-columns: 20% 30%;
grid-template-rows: 50% 50%;
grid-template-areas: "header content"
                     "header content";
column-gap: 30PX;   
}
.seccDibujoForm{
    background-color: rgb(253, 230, 238);
display: grid;
grid-template-columns: 20% 30%;
grid-template-rows: 50% 50%;
grid-template-areas: "header content"
                     "header content";
column-gap: 30PX;   
}

.camarita{
    height: 80px;
    margin-left: 30px;
}
.camaritaFooter{
    height: 60px;
   /* position: relative;
    padding: 0px 0px 15px 0px;*/
}
.btnForm {
    background-color:rgb(47, 47, 47);
    border-color: rgb(47, 47, 47);
}
.navNav{
    background-color: rgba(240, 240, 240, 0)!important;
   /* top: -5px;*/
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-content: flex-end;
    align-items: flex-end;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.navbar-light .navbar-toggler {
    color: rgb(170, 188, 201);
    border-color: rgb(170, 188, 201);
}
.container{
  
    width: 100%;
}
/*Fin estilos de clases */

/*Estilos de Sub Meú*/

.ulSub{
    float: left;
    overflow: hidden;
    display: flex;
}
.ulSub a{
        font-family: inherit;
        font-size: inherit;
        color: white;
        text-align: left;
        text-decoration: none;
}
.ulSub-2{
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        margin: 0;
}
.ulSub-3{
        font-size: 14px;
        display: none;
        position: absolute;
        background-color: rgb(170, 188, 202);
        width: 80px;
        z-index: 1;
}
.ulSub-3 a {
        float: left;
        color: white;
        width: 70px;
        padding: 7px 7px;
        text-decoration: none;
        border-bottom: 2px solid #cfd6dc;
        border-left: 2px solid #cfd6dc;               
}
.ulSub-2:hover .ulSub-3{
    display: block;
}
/*Fin estilo de Sub Meú */


/* Media Queries*/

@media only screen and (max-width: 600px){

    .tituloPagina{
        font-size: 24px;
        display: flex;
    align-items: center;
    }

    .seccFoto{
        grid-template-columns: 100%;
        grid-template-rows: 2% 16.33% 16.33% 16.33% 16.33% 16.33% 16.33%;
        grid-template-areas: "header"
                             "content1"
                             "content2"
                             "content3"
                             "content4"
                             "content5"
                             "content6";
    }

    .seccDibujo{
        grid-template-columns: 100%;
        grid-template-rows: 2% 16.33% 16.33% 16.33% 16.33% 16.33% 16.33%;
        grid-template-areas: "header"
                             "content1"
                             "content2"
                             "content3"
                             "content4"
                             "content5"
                             "content6";
    }

    .seccForm{
        grid-template-columns: 100%;
        grid-template-rows: 2% 16.33% 16.33% 16.33% 16.33% 16.33% 16.33%;
        grid-template-areas: "header"
                             "content1"
                             ;
    }
    .containerC{
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: flex-end !important;
    }
    .navNav {
        background-color: rgba(170, 188, 201)!important;
        width: 100px;
    }
    .navbar-nav{
        margin-top: 50px;
    }


}


@media only screen and (min-width: 600px){

    .tituloPagina{
        font-size: 21px;
        display: flex;
        align-items: center;
    }

    .seccFoto{
        grid-template-columns: 100%;
        grid-template-rows: 2% 16.33% 16.33% 16.33% 16.33% 16.33% 16.33%;
        grid-template-areas: "header"
                             "content1"
                             "content2"
                             "content3"
                             "content4"
                             "content5"
                             "content6";
    }

    .seccDibujo{
        grid-template-columns: 100%;
        grid-template-rows: 2% 16.33% 16.33% 16.33% 16.33% 16.33% 16.33%;
        grid-template-areas: "header"
                             "content1"
                             "content2"
                             "content3"
                             "content4"
                             "content5"
                             "content6";
    }

    .seccForm{
        grid-template-columns: 100%;
        grid-template-rows: 2% 16.33% 16.33% 16.33% 16.33% 16.33% 16.33%;
        grid-template-areas: "header"
                             "content1"
                             ;
    }
    .containerC{
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: flex-end !important;
    }
    .navNav {
        background-color: rgba(170, 188, 201)!important;
        width: 100px;
    }

    .navbar-nav{
        margin-top: 50px;
    }

}

@media only screen and (min-width: 768px){

    header{
        justify-content: space-between;
        
    }
  
    .tituloPagina{
        font-size: 30px;
        display: flex;
        align-items: center;
        /*position: absolute;*/
    }

    .seccFoto{
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-rows: 4% 32% 32% 32%;
        grid-template-areas: "header header"
                             "content1 content2"
                             "content3 content4"
                             "content5 content6";
    }

    .seccDibujo{
        grid-template-columns: 100%;
        grid-template-rows: 2% 16.33% 16.33% 16.33% 16.33% 16.33% 16.33%;
        grid-template-areas: "header"
                             "content1"
                             "content2"
                             "content3"
                             "content4"
                             "content5"
                             "content6";
    }

    .seccForm{
        grid-template-columns: 100%;
        grid-template-rows: 2% 16.33% 16.33% 16.33% 16.33% 16.33% 16.33%;
        grid-template-areas: "header"
                             "content1"
                             ;
    }
    .navNav {
        background-color: rgba(170, 188, 201)!important;
       
    }
    .containerC{
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: flex-end !important;
    }
    .navNav {
        background-color: rgba(170, 188, 201)!important;
        width: 100px;
    }
    .navbar-nav{
        margin-top: 50px;
    }


}


@media only screen and (min-width: 992px){

    .seccFoto{
        background-color: rgb(230, 232, 253);
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: 4% 48% 48%;
        grid-template-areas: "header   header   header"
                             "content1 content2 content3"
                             "content4 content5 content6";
        column-gap: 30PX;                         
    }
    .seccFoto h2{
        grid-area: header;
    }
    
    .seccDibujo{
        background-color: rgb(253, 243, 230);
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: 4% 48% 48%;
        grid-template-areas: "header   header   header"
                             "content1 content2 content3"
                             "content4 content5 content6";
        column-gap: 30PX;    
    }
    .seccDibujo h2{
        grid-area: header;
    }
    .seccForm{
        background-color: rgb(253, 230, 238);
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: 7% 93%;
        grid-template-areas: "header   header   header"
                             "content1 content2 content3";
        column-gap: 30PX;    
    }
    .seccForm h2{
        grid-area: header;
    }
    .navNav {
        background-color: rgba(170, 188, 201, 0)!important;
        width: auto;
    }
    .navbar-nav{
        margin-top: 0px;
    }
   


}

