
/*colores*/ 
$colorOscuro:rgb(38, 76, 110);
$colorClaro:rgb(115, 169, 216);
$colorA:rgb(170, 188, 202);
$colorB:rgb(175, 107, 107);
$colorC:gray;
$colorD:indianred;



/*bordes*/
$borde: 1px solid rgb(23, 15, 134);
$bordeA: 1px solid;


/*anchos*/
$ancho: 80px;
$anchoTotal:100%;
$anchoAuto:auto;


/*altos*/
$alto: 30px;
$altoUno:100px;
$alto404:750px;

/*fondos*/
$fondoClaro: white;
$fondoOscuro: rgb(95, 90, 90);

/*esquinas*/
$esquinas:3px;

/*margenes*/
$margenX:10px;

/*positions*/
$posicionUno:fixed;
$positionDos:relative;

/*z-index*/
$zUno:1;

/*tamaños fuentes*/
$tamFueUno:30px;

/*espesor fuentes*/
$espFuno:300;
$espFdos:500;

/*displays*/
$bloque: inline-block;
$gridTab: 20% 70%;
$dFlex:flex;
$fDir:column;
$dGrid:grid;

/*prop flex*/
$FWrap:wrap;

/*fuentes*/
$fuenteFlia: 'Josefin Sans', sans-serif;
$fuenteFliaB: 'Roboto', sans-serif;

/*espaciados*/
$espaciado: 2px;

/*padding*/
$pad: 20px 0px 15px 0px;
$padTab: 10px;


/*alinear y justif texto*/
$fJusCen:center;
$justCSB:space-between;
$texAlig:center;


