$colorOscuro:rgb(38, 76, 110);
$colorClaro:rgb(115, 169, 216);
$colorA:rgb(170, 188, 202);
$colorB:rgb(175, 107, 107);
$borde: 1px solid rgb(23, 15, 134);
$ancho: 80px;
$alto: 30px;
$fondoClaro: white;
$fondoOscuro: rgb(95, 90, 90);
$esquinas:3px;
$margenX:10px;

/* H3 de article section */

$bloque: inline-block;

/*titulo seccForm*/
$fuenteFlia: 'Josefin Sans', sans-serif;
$espaciado: 2px;
$pad: 20px 0px 15px 0px;


/*tablsa*/
$padTab: 10px;
$gridTab: 20% 70%;

/*pag 404*/
$dFlex:flex;
$fDir:column;
$fJusCen:center;
$texAlig:center;
$alto404:750px;

