@import "variables";

/* Inicio resets*/
*{
    margin: $cero;
    padding: $cero;
}
ol, ul{
    list-style: $listaNo;
    padding-left: $cero;
}
table {
	border-collapse: $borColl;
	border-spacing: $cero;
}
img{
    width: $anchoTotal;
}
iframe{
    width: $anchoTotal;
}
hr{
    margin: $cero;
}


/* Fin resets*/

.boton{

    width: $ancho;
    height: $alto;
    border: $borde;
    border-radius: $esquinas;
    margin: $margenX;
    

        &--colorOscuro{

            color: $colorClaro;
            background-color: $colorOscuro;

        }

        &--colorClaro{

            color: $colorOscuro;
            background-color: $colorClaro;

        }
        


}

.seccFoto__articulo{

    .seccFoto__tituloTres{

        display: $bloque;
    }
}

.futer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .footer__item{
       
        &--margen{
            margin: $margenX;
        }
    }

}

.seccForm{


    .seccForm__tituloDos{

       
        color: grey;
        
                &--fuente{
                font-family: $fuenteFlia;
            }

                &--espacio{
                    
                    letter-spacing: $espaciado;
            }
            &--padd{
                padding: $pad;
            }

    }

   
}

.seccFotoForm{

                padding: $padTab;
                grid-template-columns: $gridTab;
                
}
.seccDibujoForm {

    @extend.seccFotoForm;

}

.seccFormForm{

    @extend.seccFotoForm;
}

th{
    background-color: $fondoOscuro;
    color: $fondoClaro;
    padding: $padTab;
    font-family: $fuenteFlia;

}
td{
    padding: $padTab;
}

@mixin fuenteForm ($color , $tamFont , $bold, $family) {

    font-family: $family;
    color:$color;
    font-size: $tamFont;
    font-weight: $bold;

    
}

.tituloDescripcion{

    @include fuenteForm( #ebb93d, 30px , 300, 'Josefin Sans' sans-serif)
}

.notF{

    display: $dFlex;
    height: $alto404;
    text-align: $texAlig;
    justify-content: $fJusCen;
    flex-direction: $fDir;
    background-color: $colorB;
    color: $colorA;
    
}

/* Estilos generales etiquetas */
header{

    background-color: $colorA;
    height: $altoUno;
    position: $posicionUno;
    width: $anchoTotal;
    z-index: $zUno;
    display: $dFlex;
    justify-content: $justCSB;
}

h1{

    font-family: $fuenteFlia;
    color: $colorB;
    font-weight: $espFuno;
}
h2{
    @extend h1;
    font-size: $tamFueUno;
    

}
h3{
    @extend h1;
    font-weight: $espFdos;
    letter-spacing: $espaciado;
    padding: $pad;
}
h4{
    @extend h1;
    font-weight: $espFdos;
    letter-spacing: $espaciado;
    padding: $pad;
    color: $colorC;

}
p{
    font-family: $fuenteFliaB;
}
header img{
    width: $ancho;
}
footer img{
    width: $anchoAuto;
}
main{
    position: $positionDos;
    display: $dGrid;
    top: 90px;
}
ul{
    display: $dFlex;
    flex-wrap: $FWrap;
}
li{
    font-family: $fuenteFliaB;
    color: $colorD;
}
table{
    font-family: $fuenteFliaB;
    border: $bordeA;
}
th{
    border: $borde;
    background-color: $fondoOscuro;
}
td{
    border: $borde;
}
form{
    font-family: $fuenteFliaB;
}
header nav{
    display: $bloque;
    position: $positionTres;
    top: $topUno;
}
footer{
    background-color: $colorA;
    position: $positionDos;
    text-align: $texAlig;
    bottom: $botomUno;
}
footer nav{
    display: $bloque;
    position: $positionDos;
    top:$topDos;
    border-top: $bordeDos;
}
section{
    padding: $padDos;
    display: $dFlex;
}
footer img{
    justify-content: $texAlig;
}
.seccFoto article p{
    font-family: $fuenteFliaB;
    font-size: $fuenteA;
}
.seccFoto article h4{
    background-color: $colorE;
    margin: $margenA;
    padding: $padTres;
}.seccDibujo article h4{
   
    background-color: $colorF;
    margin: $margenA;
    padding: $padTres;
}
article{
    height: $hAuto;
}

/* Fin estilos generales etiquetas */

/* Estilos enlaces y hoover */

li a{
    color:$colorG;
    text-decoration: $texDecNo;
}
li a:hover{
    color:$colorB;
}
.seccFoto img:hover{
    transform: $transA;
    transition: $transI;
}
.seccDibujo img:hover{
    transform: $transA;
    transition: $transI;
}

/* Fin estilos enlaces y hoover */

/*Estilos de clases */

.tituloPagina{
    text-transform: $mayus;
    font-weight: $espFtres;
    letter-spacing: $espacioadoA;
    margin: $margenB;
    text-align: center;
    left: $Izq;
    top: $TopTres;
}
.tituloFormacion{
    color:$colorH;
    margin: $margenC;
}
.tituloDescripcion{
    color:$colorE;
}
.seccFoto{
    background-color: $colorI;
    display: $dGrid;
    grid-template-columns: $gTemColA;
    grid-template-rows: $gTemRoA;
    grid-template-areas: $gTemArA;
    column-gap: $colGapA; 
}
.seccFoto h2{
    grid-area: $gAreaH;
}
.seccDibujo{
    @extend.seccFoto;
    background-color: rgb(253, 243, 230);
}
.seccDibujo h2{
    grid-area: $gAreaH;
}
.seccForm{
    @extend.seccFoto;
    background-color: rgb(253, 230, 238);
    grid-template-rows: $gTemRoB;
    grid-template-areas: $gTemArB;
       
}
.seccForm h2{
    grid-area: $gAreaH;
}
.seccFormForm{
    @extend.seccForm;
    grid-template-columns: $gTemColB;
    grid-template-rows: $gTemRoC;
    grid-template-areas: $gTemArC;
}
.seccFotoForm{
    @extend.seccForm;
    @extend.seccFormForm;
}
.seccDibujoForm{
    @extend.seccForm;
    @extend.seccFormForm;  
}
.camarita{
    height: $altoDos;
    margin-left: $margenCam;
}
.camaritaFooter{
   @extend.camarita;
   margin: $margenX;
}
.btnForm {
    background-color:$colorE;
    border-color: $colorE;
}
/*.navNav{
    background-color: $colorH!important;
}*/
.navbar-nav {
    display: $dFlex;
    flex-direction: $fDir;
    padding-left: $margenCero;
    margin-bottom: $margenCero;
    margin-right: $margenX;
    list-style: $listaNo;
    align-content: $alinFi;
    align-items: $alinFi;
}
.navbar {
    position: $positionDos;
    display: $dFlex;
    flex-wrap: $FWrap;
    align-items: $texAlig;
    justify-content: $justCSB;
    padding-top: $padRemA;
    padding-bottom: $padRemA;
}
.navbar-light .navbar-toggler {
    color: $colorA;
    border-color: $colorA;
}
.container{
  
    width: $anchoTotal;
}
/*Fin estilos de clases */

/*Estilos de Sub Meú*/

.ulSub{
    float: $dirI;
    overflow: $overA;
    display: $dFlex;
}
.ulSub a{
        font-family: $hereda;
        font-size: $hereda;
        color: $colorH;
        text-align: $dirI;
        text-decoration: $texDecNo;
}
.ulSub-2{
    font-size: $tamFuenDos;  
    border: $texDecNo;
    outline: $texDecNo;
    color: $colorH;
    background-color: $hereda;
    margin: $margenCero;
}
.ulSub-3{
    font-size: $tamFueTres;
    display: $texDecNo;
    position: $positionTres;
    background-color: $colorA;
    width: $ancho;
    z-index: $zUno;
}
.ulSub-3 a {
    float: $dirI;
    color: $colorA;
    width: $anchoA;
    padding: $padTres;
    text-decoration: $texDecNo;
    border-bottom: $bordeDos;
    border-left: $bordeDos;               
}
.ulSub-2:hover .ulSub-3{
display: $bloqueA;
}
/*Fin estilos de Sub Meú*/

/* Media Queries*/

@media only screen and (max-width: $ScreenA){

    header{
        padding: $cero;
    }

    .tituloPagina{
        font-size:$tamFuenDos;
        display: $dFlex;
        align-items: $texAlig;
    }

    .seccFoto{
        grid-template-columns: $anchoTotal;
        grid-template-rows: $gTemRoD;
        grid-template-areas: $gTemArD;
    }

    .seccDibujo{
        grid-template-columns: $anchoTotal;
        grid-template-rows: $gTemRoD;
        grid-template-areas: $gTemArD;
    }

    .seccForm{
        grid-template-columns: $anchoTotal;
        grid-template-rows: $gTemRoD;
        grid-template-areas: $gTemArE;
    }
    .containerC{
        display: $dFlex;
        flex-wrap: $hereda;
        align-items: $texAlig;
        justify-content: $alinFi !important;
        
    }
    .navNav .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        padding-right: 0px!important;
    }
    .navNav {
        background-color: $colorA!important;
        width: $anchoB;
    }
    .navbar-nav{
        margin-top: $altoTres;
    }


}

@media only screen and (min-width: $ScreenA){

    .tituloPagina{
         font-size:$tamFuenDos;
         display: $dFlex;
         align-items: $texAlig;
    }

    .seccFoto{
        grid-template-columns: $anchoTotal;
        grid-template-rows: $gTemRoD;
        grid-template-areas: $gTemArD;
    }

    .seccDibujo{
        grid-template-columns: $anchoTotal;
        grid-template-rows: $gTemRoD;
        grid-template-areas: $gTemArD;
    }

    .seccForm{
        grid-template-columns: $anchoTotal;
        grid-template-rows: $gTemRoD;
        grid-template-areas: $gTemArE;
                             ;
    }
    .containerC{
        display: $dFlex;
        flex-wrap: $hereda;
        align-items: $texAlig;
        justify-content: $alinFi !important;
    }
  
    .navNav, .navbar .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        padding: $margenCero!important;
        background-color: $colorA!important;
    }
    .navNav{
        width: $anchoB;
    }

    .navbar-nav{
        margin-top: $altoTres;
        padding: $margenCero!important;
    }

}
@media only screen and (min-width: $ScreenB){

    header{
        justify-content: $justCSB;
        
    }
  
    .tituloPagina{
        font-size: $tamFueUno;
        display: $dFlex;
        align-items: $texAlig;
    }

    .seccFoto{
        grid-template-columns: $gTemRoC;
        grid-template-rows: $gTemRoC;
        grid-template-rows: $gTemRoF;
        grid-template-areas:$gTemArF;
    }

    .seccDibujo{
        grid-template-columns: $anchoTotal;
        grid-template-rows: $gTemRoD;
        grid-template-areas: $gTemArD;
    }

    .seccForm{
        grid-template-columns: 100%;
        grid-template-rows: 2% 16.33% 16.33% 16.33% 16.33% 16.33% 16.33%;
        grid-template-areas: $gTemArE;
    }
    .navNav {
        background-color: $colorA!important;
       
    }
    .containerC{
        display: $dFlex;
        flex-wrap: $hereda;
        align-items: $texAlig;
        justify-content: $alinFi !important;
    }
    .navNav {
        background-color: $colorA!important;
        width: $anchoB;
    }
    .navbar-nav{
        margin-top: $altoTres;
    }


}


@media only screen and (min-width: $ScreenC){

    .seccFoto{
        background-color: $colorI;
        display: $dGrid;
        grid-template-columns: $gTemColA;
        grid-template-rows: $gTemRoA;
        grid-template-areas: $gTemArA;
        column-gap: $colGapA;                         
    }
    .seccFoto h2{
        grid-area: $gAreaH;
    }
    
    .seccDibujo{
        background-color: $colorJ;
        display: $dGrid;
        grid-template-columns: $gTemColA;
        grid-template-rows: 4% 48% 48%;
        grid-template-areas: $gTemArA;
        column-gap: $colGapA;    
    }
    .seccDibujo h2{
        grid-area: $gAreaH;
    }
    .seccForm{
        background-color: $colorK;
        display: $dGrid;
        grid-template-columns: $gTemColA;
        grid-template-rows: 7% 93%;
        grid-template-areas: $gTemArB;
        column-gap: $colGapA;    
    }
    .seccForm h2{
        grid-area: $gAreaH;
    }
    .navNav {
        background-color: $colorL!important;
        width: $anchoAuto;
    }
    .navbar-nav{
        margin-top: $cero;
    }
   


}

/* Fin media Queries*/


